input {
  outline: none;
}

.no-radio {
  /* 모든 라디오 버튼의 기본 스타일 제거 */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
