.tableContainer {
  border: 1px solid #e0e0e0;
  overflow-x: auto;
  width: fit-content;
  max-width: 100%;
  position: relative;
  border-radius: 4p;
}

.tableContainer table {
  /* box-shadow and borders will not work with positon: sticky otherwise */
  border-collapse: separate !important;
  border-spacing: 0;
}

.tableContainer th {
  background-color: rgb(220, 225, 235);
  border-bottom: 1px solid #e0e0e0;
  font-weight: bold;
  min-height: 50px;
  padding: 2px 4px;
  position: relative;
  text-align: center;
  transition: background-color 0.3s ease;
}

.tableContainer th:hover {
  background-color: #eeeeee;
}

.tableContainer td {
  background-color: #ffffff;
  padding: 2px 4px;
  transition: background-color 0.3s ease;
}

.tableContainer tbody td:not(:last-child) {
  border-right: 1px solid #e0e0e0;
}

.tableContainer tr:nth-child(odd) td {
  background-color: white;
}

.tableContainer tr:nth-child(even) td {
  background-color: rgb(225, 235, 255);
}

.tableContainer tr:hover td {
  background-color: #f0f0f0;
}

.tableContainer .resizer {
  background: rgba(0, 0, 0, 0.1);
  cursor: col-resize;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  touch-action: none;
  user-select: none;
  width: 2px;
  transition: background-color 0.3s ease;
}

.tableContainer .resizer:hover {
  background: rgba(0, 0, 0, 0.2);
}

.tableContainer .resizer.isResizing {
  background: #2196f3;
  opacity: 0.8;
}
